<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">FLIGHT BOOKING WEBSITE</a>
    <ul class="navbar-nav mr-auto">
    <div>
      <li class="nav-item">
        <a class="nav-link" href="/arrivals_date">Arrivals by date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/arrivals_airline">Arrivals by airline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </div>
    </ul>
  </na