

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header2'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>About Us:</h1>
    <p> My name is Eric Ross and I designed this web application because I was tired of all of the standard flight scheduling issues (especially after COVID).</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>