<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to our flight scheduling application.</h1>
    <p>We look forward to serving you. After signing up, you can use this website to book flights around the world in a secure and efficient manner. Once you use our flight booking application you won't want to go back to booking flights the old way ever again!</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>